In [ ]:
# importing nessacery  library
# for dataframe
import pandas as pd

# Connect to the Database
import psycopg2

# for plot visualization
import plotly.express as px

# for  Handling Query Parameters for error
import requests

#  Reading JSON Data from a File
import json

In [ ]:
#Dataframe creation

#sql connection
   # Establishes a Database Connection: 
   # It connects to a PostgreSQL database named phonepe_data running on localhost using the psycopg2 library.
mydb = psycopg2.connect (host = "localhost",
                         user = "postgres",
                         password = "roomno13",
                         database = "phonepe_data",
                         port = "5432")
# In the provided code snippet,
#  cursor = mydb.cursor() is used to create a cursor object associated with the PostgreSQL database connection (mydb).
#  Cursors are used to execute SQL queries and manage the result set returned by the queries. 
cursor = mydb.cursor()

#Aggregated_insurance_df
    # The execute() method runs the SQL query
cursor.execute("SELECT * FROM aggregated_insurance")

 # Committing the transaction
mydb.commit()

# Fetching all rows from the executed query
table1 = cursor.fetchall()

# Creating a pandas DataFrame with the fetched data and specified column names
Aggregated_insurance = pd.DataFrame(table1,columns=("States","Years","Quarter","Transaction_type","Transaction_count","Transaction_amount"))


#Aggregated_transacation_df
     # The execute() method runs the SQL query
cursor.execute("SELECT * FROM aggregated_transaction")
 # Committing the transaction
mydb.commit()
# Fetching all rows from the executed query
table2 = cursor.fetchall()

# Creating a pandas DataFrame with the fetched data and specified column names
Aggregated_transacation = pd.DataFrame(table2,columns=("States","Years","Quarter","Transaction_type","Transaction_count","Transaction_amount"))


#Aggregated_user_df
 # The execute() method runs the SQL query
cursor.execute("SELECT * FROM aggregated_user")
 # Committing the transaction
mydb.commit()
# Fetching all rows from the executed query
table3 = cursor.fetchall()
# Creating a pandas DataFrame with the fetched data and specified column names
Aggregated_user= pd.DataFrame(table3,columns=("States","Years","Quarter","Brands","Transaction_count","Percentage"))


#Map_insurance_df
 # The execute() method runs the SQL query
cursor.execute("SELECT * FROM map_insurance")
 # Committing the transaction
mydb.commit()
# Fetching all rows from the executed query
table4 = cursor.fetchall()
# Creating a pandas DataFrame with the fetched data and specified column names
Map_insurance= pd.DataFrame(table4,columns=("States","Years","Quarter","Districts","Transaction_count","Transaction_amount"))


#Map_transaction_df
# The execute() method runs the SQL query
cursor.execute("SELECT * FROM map_transaction")
 # Committing the transaction
mydb.commit()
# Fetching all rows from the executed query
table5 = cursor.fetchall()
# Creating a pandas DataFrame with the fetched data and specified column names
Map_transaction= pd.DataFrame(table5,columns=("States","Years","Quarter","Districts","Transaction_count","Transaction_amount"))


#Map_user_df
# The execute() method runs the SQL query
cursor.execute("SELECT * FROM map_user")
 # Committing the transaction
mydb.commit()
# Fetching all rows from the executed query
table6 = cursor.fetchall()
# Creating a pandas DataFrame with the fetched data and specified column names
Map_user= pd.DataFrame(table6,columns=("States","Years","Quarter","Districts","RegisteredUsers","AppOpens"))


#Top_Insurance_df
# The execute() method runs the SQL query
cursor.execute("SELECT * FROM top_insurance")
 # Committing the transaction
mydb.commit()
# Fetching all rows from the executed query
table7 = cursor.fetchall()
# Creating a pandas DataFrame with the fetched data and specified column names
Top_Insurance= pd.DataFrame(table7,columns=("States","Years","Quarter","Pincodes","Transaction_count","Transaction_amount"))


#Top_transaction _df
# The execute() method runs the SQL query
cursor.execute("SELECT * FROM top_transaction")
 # Committing the transaction
mydb.commit()
# Fetching all rows from the executed query
table8 = cursor.fetchall()
# Creating a pandas DataFrame with the fetched data and specified column names
Top_transaction = pd.DataFrame(table8,columns=("States","Years","Quarter","Pincodes","Transaction_count","Transaction_amount"))


#Top_user _df
# The execute() method runs the SQL query
cursor.execute("SELECT * FROM top_user")
 # Committing the transaction
mydb.commit()
# Fetching all rows from the executed query
table9 = cursor.fetchall()
# Creating a pandas DataFrame with the fetched data and specified column names
Top_user = pd.DataFrame(table9,columns=("States","Years","Quarter","Pincodes","RegisteredUsers"))

Summary:

Establishing a Database Connection: The code connects to the phonepe_data database on localhost using psycopg2.

Creating Cursors: Cursors are created to execute SQL queries and manage the result sets.

Executing SQL Queries and Fetching Data: SQL queries are executed for each table, and the fetchall() method is used to fetch all rows from the executed queries.

Creating Pandas DataFrames: Pandas DataFrames are created from the fetched data with specified column names.

In [ ]:
#sql connection for top chart Transaction Amount:
def top_chart_transaction_amount(table_name):
    # Establishes a Database Connection: 
    # It connects to a PostgreSQL database named phonepe_data running on localhost using the psycopg2 library.
    mydb = psycopg2.connect (host = "localhost",
                            user = "postgres",
                            password = "roomno13",
                            database = "phonepe_data",
                            port = "5432")
    # cursor = mydb.cursor() is used to create a cursor object associated with the PostgreSQL database connection (mydb).
    # Cursors are used to execute SQL queries and manage the result set returned by the queries. 
    cursor = mydb.cursor()

    #plot_1
      # Executing the SQL query
    query1 = f'''SELECT states, sum(transaction_amount) AS transaction_amount
                from {table_name}
                GROUP BY states
                ORDER BY transaction_amount desc
                LIMIT 10;'''
    
    cursor.execute(query1)
    # Fetching all rows from the executed query
    table_1 = cursor.fetchall()
    # Committing the changes
    mydb.commit()
    
    # Converting the fetched data into a pandas DataFrame
    df_1 = pd.DataFrame(table_1,columns=("states","transaction_amount"))
    
    # Creating a bar chart with Plotly Express
    fig_amount_1 = px.bar(df_1, x="states", y="transaction_amount", title="TOP 10 OF TRANSACTION AMOUNT",hover_name="states",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl,height=650,width=600)
    # Displaying the bar chart
    fig_amount_1.show()


    # QUERY_2:
    #sql connection 
    # Establishes a Database Connection: 
    mydb = psycopg2.connect (host = "localhost",
                            user = "postgres",
                            password = "roomno13",
                            database = "phonepe_data",
                            port = "5432")
    cursor = mydb.cursor()

    #plot_2
    # Executing the SQL query
    query2 = f'''SELECT states, sum(transaction_amount) AS transaction_amount
                from {table_name}
                GROUP BY states
                ORDER BY transaction_amount
                LIMIT 10;'''

    cursor.execute(query2)
    # Fetching all rows from the executed query
    table_2 = cursor.fetchall()
    # Committing the changes
    mydb.commit()

    # Converting the fetched data into a pandas DataFrame
    df_2 = pd.DataFrame(table_2,columns=("states","transaction_amount"))
    
    # Creating a bar chart with Plotly Express
    fig_amount_2 = px.bar(df_2, x="states", y="transaction_amount", title="LAST 10 OF TRANSACTION AMOUNT",hover_name="states",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height=650,width=600)
    # Displaying the bar chart
    fig_amount_2.show()

    
    #plot_3
    # Executing the SQL query
    query3 = f'''select states, AVG(transaction_amount) AS transaction_amount
                 FROM {table_name}
                 GROUP BY states
                 ORDER BY transaction_amount;'''
    
    cursor.execute(query3)
     # Fetching all rows from the executed query
    table_3 = cursor.fetchall()
    # Committing the changes
    mydb.commit()
    
    # Converting the fetched data into a pandas DataFrame
    df_3 = pd.DataFrame(table_3, columns=("states", "tarnsaction_amount"))

    # Creating a bar chart with Plotly Express
    fig_amount_3 = px.bar(df_3, y="states", x="tarnsaction_amount", title="TRANSACTION AMOUNT", hover_name="states", orientation="h",
                          color_discrete_sequence=px.colors.sequential.Bluered_r)
    # Displaying the bar chart
    fig_amount_3.show()

#top_chart_transaction_amount(table_name):

Summary:

The function uses three separate queries to generate three different plots.

Each query retrieves data based on different criteria (top 10, last 10, and average transaction amounts).

The data is visualized using Plotly Express, providing an interactive and visually appealing representation of the transaction data.

In [ ]:
# calling top_chart_transaction_amount function
top_chart_transaction_amount("aggregated_insurance")

In [ ]:
#sql connection for top chart Transaction Count:
def top_chart_transaction_count(table_name):
    # Establishes a Database Connection: 
    mydb = psycopg2.connect (host = "localhost",
                            user = "postgres",
                            password = "roomno13",
                            database = "phonepe_data",
                            port = "5432")
    cursor = mydb.cursor()

    #plot_1
     # Executing the SQL query
    query1 = f'''SELECT states, sum(transaction_count) AS transaction_count
                from {table_name}
                GROUP BY states
                ORDER BY transaction_count desc
                LIMIT 10;'''

    cursor.execute(query1)
    # Fetching all rows from the executed query
    table_1 = cursor.fetchall()
    # Committing the changes
    mydb.commit()
    
    # Converting the fetched data into a pandas DataFrame
    df_1 = pd.DataFrame(table_1,columns=("states","transaction_count"))
    
    # Creating a bar chart with Plotly Express
    fig_amount_1 = px.bar(df_1, x="states", y="transaction_count", title="TOP 10 OF TRANSACTION COUNT",hover_name="states",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl,height=650,width=600)
    # Displaying the bar chart
    fig_amount_1.show()


    #sql connection
    # Establishes a Database Connection: 
    mydb = psycopg2.connect (host = "localhost",
                            user = "postgres",
                            password = "roomno13",
                            database = "phonepe_data",
                            port = "5432")
    cursor = mydb.cursor()

    #plot_2
     # Executing the SQL query
    query2 = f'''SELECT states, sum(transaction_count) AS transaction_count
                from {table_name}
                GROUP BY states
                ORDER BY transaction_count
                LIMIT 10;'''

    cursor.execute(query2)
    # Fetching all rows from the executed query
    table_2 = cursor.fetchall()
    # Committing the changes
    mydb.commit()
    
    # Converting the fetched data into a pandas DataFrame
    df_2 = pd.DataFrame(table_2,columns=("states","transaction_count"))
    
    # Creating a bar chart with Plotly Express
    fig_amount_2 = px.bar(df_2, x="states", y="transaction_count", title="LAST 10 OF TRANSACTION COUNT",hover_name="states",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height=650,width=600)
    # Displaying the bar chart
    fig_amount_2.show()

    
    #plot_3
     # Executing the SQL query
    query3 = f'''select states, AVG(transaction_count) AS transaction_count
                 FROM {table_name}
                 GROUP BY states
                 ORDER BY transaction_count;'''
    
    cursor.execute(query3)
    # Fetching all rows from the executed query
    table_3 = cursor.fetchall()
    # Committing the changes
    mydb.commit()
    
    # Converting the fetched data into a pandas DataFrame
    df_3 = pd.DataFrame(table_3, columns=("states", "transaction_count"))
    
    # Creating a bar chart with Plotly Express
    fig_amount_3 = px.bar(df_3, y="states", x="transaction_count", title="TRANSACTION COUNT", hover_name="states", orientation="h",
                          color_discrete_sequence=px.colors.sequential.Bluered_r)
    # Displaying the bar chart
    fig_amount_3.show()

#top_chart_transaction_count(table_name):

Summary:

The function uses three separate queries to generate three different plots.

Each query retrieves data based on different criteria (top 10, last 10, and average transaction counts).

The data is visualized using Plotly Express, providing an interactive and visually appealing representation of the transaction count data.

In [ ]:
# calling top_chart_transaction_count Function
top_chart_transaction_count("aggregated_transaction")

In [ ]:
#sql connection for top chart REGISTEREDUSERS for QUESTIONS:
def top_chart_registered_user(table_name,state):
    # Establishes a Database Connection: 
    mydb = psycopg2.connect (host = "localhost",
                            user = "postgres",
                            password = "roomno13",
                            database = "phonepe_data",
                            port = "5432")
    
    cursor = mydb.cursor()

    #plot_1
       # Executing the SQL query
    query1 = f'''select districts, sum(registeredusers) as registeredusers
                 from {table_name}
                 WHERE states= '{state}'
                 GROUP BY districts 
                 Order by registeredusers desc
                 limit 10;'''

    cursor.execute(query1)
    # Fetching all rows from the executed query
    table_1 = cursor.fetchall()
    # Committing the changes
    mydb.commit()

    # Converting the fetched data into a pandas DataFrame
    df_1 = pd.DataFrame(table_1,columns=("districts","registeredusers"))
    
    # Creating a bar chart with Plotly Express
    fig_amount_1 = px.bar(df_1, x="districts", y="registeredusers", title="TOP 10 OF REGISTERED USERS",hover_name="districts",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl,height=650,width=600)
    # Displaying the bar chart
    fig_amount_1.show()


    #plot_2
    # Executing the SQL query
    query2 = f'''select districts, sum(registeredusers) as registeredusers
                 from {table_name}
                 WHERE states= '{state}'
                 GROUP BY districts 
                 Order by registeredusers 
                 limit 10;'''

    cursor.execute(query2)
    # Fetching all rows from the executed query
    table_2 = cursor.fetchall()
    # Committing the changes
    mydb.commit()

    # Converting the fetched data into a pandas DataFrame
    df_2 = pd.DataFrame(table_2,columns=("districts","registeredusers"))
    
    # Creating a bar chart with Plotly Express
    fig_amount_2 = px.bar(df_2, x="districts", y="registeredusers", title="LAST 10 OF TRANSACTION AMOUNT",hover_name="districts",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height=650,width=600)
    # Displaying the bar chart
    fig_amount_2.show()

    
    #plot_3
    # Executing the SQL query
    query3 = f'''select districts, AVG(registeredusers) as registeredusers
                 from {table_name}
                 WHERE states= '{state}'
                 GROUP BY districts 
                 Order by registeredusers;'''
    
    cursor.execute(query3)
    # Fetching all rows from the executed query
    table_3 = cursor.fetchall()
    # Committing the changes
    mydb.commit()
    
    # Converting the fetched data into a pandas DataFrame
    df_3 = pd.DataFrame(table_3, columns=("districts", "registeredusers"))
 
    # Creating a bar chart with Plotly Express
    fig_amount_3 = px.bar(df_3, y="districts", x="registeredusers", title="AVARAGE OF REGISTERED USERS", hover_name="districts", orientation="h",
                          color_discrete_sequence=px.colors.sequential.Bluered_r)
    # Displaying the bar chart
    fig_amount_3.show()

#top_chart_registered_user(table_name,state):

Summary:

The function uses three separate queries to generate three different plots.

Each query retrieves data based on different criteria (top 10, last 10, and average registered users).

The data is visualized using Plotly Express, providing an interactive and visually appealing representation of the registered user data.

In [ ]:
# calling top_chart_registered_user Function
top_chart_registered_user("map_user","Jharkhand")

In [ ]:
#sql connection for top chart APPOPENS for QUESTIONS:
def top_chart_appopens(table_name,state):
    # Establishes a Database Connection: 
    mydb = psycopg2.connect (host = "localhost",
                            user = "postgres",
                            password = "roomno13",
                            database = "phonepe_data",
                            port = "5432")
    cursor = mydb.cursor()

    #plot_1
    # Executing the SQL query
    query1 = f'''select districts, sum(appopens) as appopens
                 from {table_name}
                 WHERE states= '{state}'
                 GROUP BY districts 
                 Order by appopens desc
                 limit 10;'''

    cursor.execute(query1)
    # Fetching all rows from the executed query
    table_1 = cursor.fetchall()
    # Committing the changes
    mydb.commit()

    # Converting the fetched data into a pandas DataFrame
    df_1 = pd.DataFrame(table_1,columns=("districts","appopens"))
    
    # Creating a bar chart with Plotly Express
    fig_amount_1 = px.bar(df_1, x="districts", y="appopens", title="TOP 10 OF APPOPENS",hover_name="districts",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl,height=650,width=600)
    # Displaying the bar chart
    fig_amount_1.show()


    #plot_2
    # Executing the SQL query
    query2 = f'''select districts, sum(appopens) as appopens
                 from {table_name}
                 WHERE states= '{state}'
                 GROUP BY districts 
                 Order by appopens 
                 limit 10;'''

    cursor.execute(query2)
    # Fetching all rows from the executed query
    table_2 = cursor.fetchall()
    # Committing the changes
    mydb.commit()

    # Converting the fetched data into a pandas DataFrame
    df_2 = pd.DataFrame(table_2,columns=("districts","appopens"))
    
    # Creating a bar chart with Plotly Express
    fig_amount_2 = px.bar(df_2, x="districts", y="appopens", title="LAST 10 OF APPOPENS ",hover_name="districts",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height=650,width=600)
    # Displaying the bar chart
    fig_amount_2.show()

    
    #plot_3
    # Executing the SQL query
    query3 = f'''select districts, AVG(appopens) as appopens
                 from {table_name}
                 WHERE states= '{state}'
                 GROUP BY districts 
                 Order by appopens;'''
    
    cursor.execute(query3)
    # Fetching all rows from the executed query
    table_3 = cursor.fetchall()
    # Committing the changes
    mydb.commit()
    
    # Converting the fetched data into a pandas DataFrame
    df_3 = pd.DataFrame(table_3, columns=("districts", "appopens"))

    # Creating a bar chart with Plotly Express
    fig_amount_3 = px.bar(df_3, y="districts", x="appopens", title="AVARAGE OF APPOPENS", hover_name="districts", orientation="h",
                          color_discrete_sequence=px.colors.sequential.Bluered_r)
    # Displaying the bar chart
    fig_amount_3.show()

#top_chart_appopens(table_name,state):

Summary :

The function uses three separate queries to generate three different plots, each focusing on different aspects of app opens data.

Each query retrieves data based on different criteria (top 10, last 10, and average app opens).

The data is visualized using Plotly Express, providing an interactive and visually appealing representation of the app opens data.

In [ ]:
# calling top_chart_appopens Function
top_chart_appopens("map_user","Jharkhand")

In [ ]:
#sql connection for top chart REGISTEREDUSERS of TOP_USER for QUESTIONS:
def top_chart_registered_users(table_name):
    # Establishes a Database Connection:
    mydb = psycopg2.connect (host = "localhost",
                            user = "postgres",
                            password = "roomno13",
                            database = "phonepe_data",
                            port = "5432")
    cursor = mydb.cursor()

    #plot_1
    # Executing the SQL query
    query1 = f'''-- #query for question 10
                    select states, sum(registeredusers) as registeredusers
                    from {table_name}
                    group by states
                    order by registeredusers desc
                    limit 10'''

    cursor.execute(query1)
    # Fetching all rows from the executed query
    table_1 = cursor.fetchall()
    # Committing the changes
    mydb.commit()
    
    # Converting the fetched data into a pandas DataFrame
    df_1 = pd.DataFrame(table_1,columns=("states","registeredusers"))
    
    # Creating a bar chart with Plotly Express
    fig_amount_1 = px.bar(df_1, x="states", y="registeredusers", title="TOP 10 OF REGISTEREDUSERS",hover_name="states",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl,height=650,width=600)
    # Displaying the bar chart
    fig_amount_1.show()


    #plot_2
    # Executing the SQL query
    query2 = f'''select states, sum(registeredusers) as registeredusers
                 from {table_name}
                 group by states
                 order by registeredusers 
                 limit 10'''

    cursor.execute(query2)
    # Fetching all rows from the executed query
    table_2 = cursor.fetchall()
    # Committing the changes
    mydb.commit()
    
    # Converting the fetched data into a pandas DataFrame
    df_2 = pd.DataFrame(table_2,columns=("states","registeredusers"))
    
    # Creating a bar chart with Plotly Express
    fig_amount_2 = px.bar(df_2, x="states", y="registeredusers", title="LAST 10 OF REGISTEREDUSERS ",hover_name="states",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height=650,width=600)
    # Displaying the bar chart
    fig_amount_2.show()

    
    #plot_3
    # Executing the SQL query
    query3 = f'''select states, avg(registeredusers) as registeredusers
                 from {table_name}
                 group by states
                 order by registeredusers ;'''
    
    cursor.execute(query3)
    # Fetching all rows from the executed query
    table_3 = cursor.fetchall()
    # Committing the changes
    mydb.commit()
    
    # Converting the fetched data into a pandas DataFrame
    df_3 = pd.DataFrame(table_3, columns=("states", "registeredusers"))

    # Creating a bar chart with Plotly Express
    fig_amount_3 = px.bar(df_3, y="states", x="registeredusers", title="AVARAGE OF REGISTEREDUSERS", hover_name="states", orientation="h",
                          color_discrete_sequence=px.colors.sequential.Bluered_r,height=800,width=1000)
    # Displaying the bar chart
    fig_amount_3.show()

#top_chart_registered_users(table_name):

Summary :

The function uses three separate queries to generate three different plots, each focusing on different aspects of app opens data.

Each query retrieves data based on different criteria (top 10, last 10, and average app opens).

The data is visualized using Plotly Express, providing an interactive and visually appealing representation of the app opens data.

In [ ]:
# calling top_chart_registered_users Function
top_chart_registered_users("top_user")

In [ ]:
#  function for Transaction_year_Base

def Transaction_amount_count_Y(df,year):
    # Filtering the DataFrame by Year.
    tran_amount_count_year = df[df["Years"] == year]
    # Resetting the Index:
    tran_amount_count_year.reset_index(drop = True, inplace= True)
    
    # Grouping and Summing:
    tran_amount_count_year_group = tran_amount_count_year.groupby("States")[["Transaction_count","Transaction_amount"]].sum()
     # Resetting the Index:
    tran_amount_count_year_group.reset_index(inplace=True)
    
    # Creating the Bar Chart fig_amount by year
    fig_amount = px.bar(tran_amount_count_year_group, x="States", y="Transaction_amount", title=f"{year} TRANSACTION AMOUNT",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl)
    # Displaying the bar chart
    fig_amount.show()
     
    # Creating the Bar Chart fig_Count
    fig_count = px.bar(tran_amount_count_year_group, x="States", y="Transaction_count", title=f"{year} TRANSACTION COUNT",
                        color_discrete_sequence=px.colors.sequential.OrRd_r)
    # Displaying the bar chart
    fig_count.show()

    # Loading the GeoJSON Data:
    url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response = requests.get(url)
    data_1 = json.loads(response.content)
    # Extracting State Names:
    states_name = []
    # This loop iterates over each feature (state) in the GeoJSON data.
    for feature in data_1["features"]:
        states_name.append(feature["properties"]["ST_NM"])

    states_name.sort()
    
    # Creating the Choropleth Map:Fig_India_map1
    fig_india_1 = px.choropleth(tran_amount_count_year_group, geojson= data_1, locations= "States", featureidkey= "properties.ST_NM",
                                color= "Transaction_amount", color_continuous_scale= "Rainbow", 
                                range_color=(tran_amount_count_year_group["Transaction_amount"].min(),tran_amount_count_year_group["Transaction_amount"].max()),
                                hover_name= "States", title = f"{year} TRANSACTION AMOUNT",fitbounds= "locations",
                                height= 600,width= 600)
    # Hide geographical features
    fig_india_1.update_geos(visible = False)
    # Display the updated map
    fig_india_1.show()

    # Creating the Choropleth Map:Fig_India_map2
    fig_india_2 = px.choropleth(tran_amount_count_year_group, geojson= data_1, locations= "States", featureidkey= "properties.ST_NM",
                            color= "Transaction_count", color_continuous_scale= "Rainbow", 
                            range_color=(tran_amount_count_year_group["Transaction_count"].min(),tran_amount_count_year_group["Transaction_count"].max()),
                            hover_name= "States", title = f"{year} TRANSACTION COUNT",fitbounds= "locations",
                            height= 600,width= 600)
    # Hide geographical features
    fig_india_2.update_geos(visible = False)
     # Display the updated map
    fig_india_2.show()

    return  tran_amount_count_year

# Transaction_amount_count_Y(df,year):
Summary : 

Filtering and Summarizing Data: It filters the input DataFrame df to include only data for the specified year, and then groups the data by states, summing up the transaction count and amount for each state.

Creating Bar Charts: It creates two bar charts using Plotly Express (px.bar). One bar chart shows the total transaction amount for each state (fig_amount), and the other shows the total transaction count for each state (fig_count).

Creating Choropleth Maps: It creates two choropleth maps using Plotly Express (px.choropleth). The first map (fig_india_1) visualizes the total transaction amount for each state on a map of India. The second map (fig_india_2) visualizes the total transaction count for each state on the same map.

Hiding Geographical Features: It hides the geographical features (state boundaries) of the choropleth maps using the update_geos(visible=False) method, focusing solely on the colored regions representing the data.

Returning Filtered Data: Finally, it returns the filtered DataFrame tran_amount_count_year, which contains the transaction data for the specified year.

In [ ]:
# calling Transaction_amount_count_Y Function
Transaction_amount_count_Y(Aggregated_insurance,2023)

In [ ]:
# function for Transaction_Quarter_Base

def Transaction_amount_count_Y_Q(df, quarter):
     # Filtering the DataFrame by QUARTER
    tran_amount_count_year = df[df["Quarter"] ==  quarter]
     # Resetting the Index:
    tran_amount_count_year.reset_index(drop = True, inplace= True)
    
    # Grouping and Summing:
    tran_amount_count_year_group = tran_amount_count_year.groupby("States")[["Transaction_count","Transaction_amount"]].sum()
    # Resetting the Index:
    tran_amount_count_year_group.reset_index(inplace=True)
    
    # Creating the Bar Chart fig_amount by year{Quarter}
    fig_amount = px.bar(tran_amount_count_year_group, x="States", y="Transaction_amount", title=f"{tran_amount_count_year['Years'].min()} YEAR {quarter} Quarter TRANSACTION AMOUNT",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl)
    fig_amount.show()
    
     # Creating the Bar Chart fig_Count by year{Quarter}
    fig_count = px.bar(tran_amount_count_year_group, x="States", y="Transaction_count", title=f"{tran_amount_count_year['Years'].min()} YEAR {quarter} Quarter TRANSACTION COUNT",
                        color_discrete_sequence=px.colors.sequential.OrRd_r)
    fig_count.show()

    # Loading the GeoJSON Data:
    url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response = requests.get(url)
    data_1 = json.loads(response.content)
    # Extracting State Names:
    states_name = []
    # This loop iterates over each feature (state) in the GeoJSON data.
    for feature in data_1["features"]:
        states_name.append(feature["properties"]["ST_NM"])

    states_name.sort()
    
    # Creating the Choropleth Map:Fig_India_map1
    fig_india_1 = px.choropleth(tran_amount_count_year_group, geojson= data_1, locations= "States", featureidkey= "properties.ST_NM",
                                color= "Transaction_amount", color_continuous_scale= "Rainbow", 
                                range_color=(tran_amount_count_year_group["Transaction_amount"].min(),tran_amount_count_year_group["Transaction_amount"].max()),
                                hover_name= "States", title = f"{tran_amount_count_year['Years'].min()} YEAR {quarter} Quarter TRANSACTION AMOUNT",fitbounds= "locations",
                                height= 600,width= 600)
    # Hide geographical features
    fig_india_1.update_geos(visible = False)
    # Display the updated map
    fig_india_1.show()

    # Creating the Choropleth Map:Fig_India_map2
    fig_india_2 = px.choropleth(tran_amount_count_year_group, geojson= data_1, locations= "States", featureidkey= "properties.ST_NM",
                            color= "Transaction_count", color_continuous_scale= "Rainbow", 
                            range_color=(tran_amount_count_year_group["Transaction_count"].min(),tran_amount_count_year_group["Transaction_count"].max()),
                            hover_name= "States", title = f"{tran_amount_count_year['Years'].min()} YEAR {quarter} Quarter TRANSACTION COUNT",fitbounds= "locations",
                            height= 600,width= 600)
    # Hide geographical features
    fig_india_2.update_geos(visible = False)
    # Display the updated map
    fig_india_2.show()

    return  tran_amount_count_year

# Transaction_amount_count_Y_Q(df, quarter):
Summary:

Filtering and Summarizing Data: It filters the input DataFrame df to include only data for the specified quarter, and then groups the data by states, summing up the transaction count and amount for each state.

Creating Bar Charts: It creates two bar charts using Plotly Express (px.bar). One bar chart shows the total transaction amount for each state (fig_amount), and the other shows the total transaction count for each state (fig_count).

Creating Choropleth Maps: It creates two choropleth maps using Plotly Express (px.choropleth). The first map (fig_india_1) visualizes the total transaction amount for each state on a map of India. The second map (fig_india_2) visualizes the total transaction count for each state on the same map.

Hiding Geographical Features: It hides the geographical features (state boundaries) of the choropleth maps using the update_geos(visible=False) method, focusing solely on the colored regions representing the data.

Returning Filtered Data: Finally, it returns the filtered DataFrame tran_amount_count_year, which contains the transaction data for the specified quarter.

In [ ]:
# function for Transaction Type
def Aggre_tran_Transaction_type(df,state):
     # Filtering the DataFrame by States
    tran_amount_count_year = df[df["States"] == state]
    # Resetting the Index:
    tran_amount_count_year.reset_index(drop = True, inplace= True)
    
    # Grouping and Summing:
    tran_amount_count_year_group = tran_amount_count_year.groupby("Transaction_type")[["Transaction_count","Transaction_amount"]].sum()
    # Resetting the Index:
    tran_amount_count_year_group.reset_index(inplace=True)

    # creating pie chart using Plotly Express
    fig_pie_1 = px.pie(data_frame=tran_amount_count_year_group, names="Transaction_type",values="Transaction_amount",
                    width = 600,title=f"{state.upper()} TRANSACTION AMOUNT", hole= 0.5)
    # Displaying the pie chart_1
    fig_pie_1.show()
    # creating pie chart using Plotly Express
    fig_pie_2 = px.pie(data_frame=tran_amount_count_year_group, names="Transaction_type",values="Transaction_count",
                    width = 600,title=f"{state.upper()} TRANSACTION COUNT", hole= 0.5)
    # Displaying the pie chart_2
    fig_pie_2.show()

# Aggre_tran_Transaction_type(df,state)
Summary:

Filtering Data: It filters the input DataFrame df to include only data for the specified state and resets the index of the filtered DataFrame.

Grouping and Summarizing Data: It groups the filtered data by transaction type (Transaction_type) and sums up the transaction count and amount for each transaction type.

Creating Pie Charts: It creates two pie charts using Plotly Express (px.pie). One pie chart visualizes the distribution of transaction amounts by transaction type (fig_pie_1), and the other visualizes the distribution of transaction counts by transaction type (fig_pie_2). The title of each pie chart includes the name of the state in uppercase letters for clarity.

Displaying Charts: It uses the show() method to display each pie chart, providing a visual representation of how different transaction types contribute to the total transaction amount and count for the specified state.

In [ ]:
# Aggregated_user_analysis_1
def Aggregated_user_plot_1(df,year):
     # Filtering the DataFrame by Years
    aggregated_user_year= df[df["Years"]==year]
    # Resetting the Index:
    aggregated_user_year.reset_index(drop=True, inplace= True)
    
    # summarizing the total transaction counts for each brand in the aggregated_user_year DataFrame.
    aggregated_user_year_group = pd.DataFrame(aggregated_user_year.groupby("Brands")["Transaction_count"].sum())
    # resets the index of the aggregated_user_year_group
    aggregated_user_year_group.reset_index(inplace=True)
    
    # fig_bar_1 chart will show a bar for each brand:
    fig_bar_1 = px.bar(aggregated_user_year_group,x="Brands",y="Transaction_count",title=f"{year}BRANDS and TRANSACTION COUNT",
                    width=1000, color_discrete_sequence= px.colors.sequential.haline_r, hover_name="Brands")
    # Displaying the bar chart
    fig_bar_1.show()

    return aggregated_user_year

# Aggregated_user_plot_1(df,year)
Summary: 

Filtering Data: It filters the input DataFrame df to include only data for the specified year.

Resetting Index: It resets the index of the filtered DataFrame aggregated_user_year to ensure consistent indexing.

Grouping and Summarizing: It calculates the total transaction counts for each brand (Brands) in the aggregated_user_year DataFrame and stores the result in the aggregated_user_year_group DataFrame.

Resetting Index (Again): It resets the index of the aggregated_user_year_group DataFrame.

Creating a Bar Chart: It uses Plotly Express (px.bar) to create a bar chart (fig_bar_1) visualizing the transaction count for each brand. The chart includes the brand names on the x-axis, transaction counts on the y-axis, and a title reflecting the year of analysis. It also uses a specific color sequence for the bars and allows hovering over the bars to display the brand names.

Displaying the Chart: It displays the created bar chart using fig_bar_1.show().

Returning Data: It returns the filtered and indexed aggregated_user_year DataFrame.

In [ ]:
#Aggregated user analysis_2
def Aggregated_user_plot_2(df,quarter):
    # Filtering the DataFrame by QUARTER
    aggregated_user_year_quarter= df[df["Quarter"]==quarter]
    # Resetting the Index:
    aggregated_user_year_quarter.reset_index(drop=True, inplace= True)

     # summarizing the total transaction counts for each brand in the aggregated_user_year_Quarter DataFrame.
    aggregated_user_year_quarter_group = pd.DataFrame(aggregated_user_year_quarter.groupby("Brands")["Transaction_count"].sum())
    # resets the index of the aggregated_user_year_quarter_group
    aggregated_user_year_quarter_group.reset_index(inplace=True)

    # fig_bar_1 chart will show a bar for each brand:
    fig_bar_1 = px.bar(aggregated_user_year_quarter_group,x="Brands",y="Transaction_count",title=f"Quarter-{quarter} BRANDS and TRANSACTION COUNT",
                    width=1000, color_discrete_sequence= px.colors.sequential.haline_r, hover_name="Brands")
    # Displaying the bar chart
    fig_bar_1.show()

    return aggregated_user_year_quarter

# Aggregated_user_plot_2(df,quarter):

Summary:

Filtering Data: It filters the input DataFrame df to include only data for the specified quarter.

Resetting Index: It resets the index of the filtered DataFrame aggregated_user_year_quarter to ensure consistent indexing.

Grouping and Summarizing: It calculates the total transaction counts for each brand (Brands) in the aggregated_user_year_quarter DataFrame and stores the result in the aggregated_user_year_quarter_group DataFrame.

Resetting Index (Again): It resets the index of the aggregated_user_year_quarter_group DataFrame.

Creating a Bar Chart: It uses Plotly Express (px.bar) to create a bar chart (fig_bar_1) visualizing the transaction count for each brand. The chart includes the brand names on the x-axis, transaction counts on the y-axis, and a title reflecting the quarter of analysis. It also uses a specific color sequence for the bars and allows hovering over the bars to display the brand names.

Displaying the Chart: It displays the created bar chart using fig_bar_1.show().

Returning Data: It returns the filtered and indexed aggregated_user_year_quarter DataFrame.

In [ ]:
#Aggregated_user analysis 3
def Aggregated_user_plot_3(df,states):
    # Filtering the DataFrame by States
    aggregated_user_year_q_s = df[df["States"] == states]
    # Resetting the Index:
    aggregated_user_year_q_s.reset_index(drop=True, inplace=True)
    
    # creating  line plot for brands by state
    fig_line_1 = px.line(aggregated_user_year_q_s, x="Brands", y= "Transaction_count",hover_data= ['Percentage'],
                        title=f"{states.upper()}: BRANDS, TRANSACTION COUNT, PERCENTAGE",width = 1000, markers=True)
    # Displaying the bar chart
    fig_line_1.show()

# Aggregated_user_plot_3(df,states):

Summary:

Filtering Data: It filters the input DataFrame df to include only data for the specified states.

Resetting Index: It resets the index of the filtered DataFrame aggregated_user_year_q_s to ensure consistent indexing.

Creating a Line Chart: It uses Plotly Express (px.line) to create a line chart (fig_line_1) visualizing the transaction count for each brand (Brands). The x-axis represents the brands, while the y-axis represents the transaction count. The title of the chart includes the state name in uppercase letters. It also includes markers on the lines and allows hovering over the lines to display additional data, such as the percentage.

Displaying the Chart: It displays the created line chart using fig_line_1.show().

In [ ]:
# MAP insurance districts 
def Map_insurance_District(df,state):
    # Filtering the DataFrame by States
    tran_amount_count_year = df[df["States"] == state]
    # Resetting the Index:
    tran_amount_count_year.reset_index(drop = True, inplace= True)
    
    # summarizing the total transaction counts for each Districts in the tran_amount_count_year DataFrame.
    tran_amount_count_year_group = tran_amount_count_year.groupby("Districts")[["Transaction_count","Transaction_amount"]].sum()
    # resets the index of the tran_amount_count_year_group
    tran_amount_count_year_group.reset_index(inplace=True)

     # creating  bar plot for Districts by Transaction_amount
    fig_bar_1 = px.bar(tran_amount_count_year,x= "Transaction_amount", y= "Districts", orientation="h",
                       title =f"{state.upper()} DISTRICT AND TRANSACTION AMOUNT",color_discrete_sequence= px.colors.sequential.Mint_r)
    # Displaying the bar chart
    fig_bar_1.show()
    
     # creating  bar plot for Districts by Transaction_count
    fig_bar_2 = px.bar(tran_amount_count_year_group, x="Transaction_count", y="Districts", orientation="h",
                       title=f"{state.upper()} DISTRICTS AND TRANSACTION COUNT",color_discrete_sequence= px.colors.sequential.Bluyl_r)
    # Displaying the bar chart
    fig_bar_2.show()

# Map_insurance_District(df,state):
Summary:

Filtering Data: It filters the input DataFrame df to include only data for the specified state.

Resetting Index: It resets the index of the filtered DataFrame tran_amount_count_year to ensure consistent indexing.

Grouping and Summing: It groups the data by districts (Districts) and calculates the total transaction count and amount for each district.

Creating Bar Charts: It uses Plotly Express (px.bar) to create two horizontal bar charts:

Displaying the Charts: It displays the created bar charts (fig_bar_1 and fig_bar_2) using .show().

Overall, these visualizations provide insights into the distribution of transaction amounts and counts across different districts within a specific state, helping to identify districts with higher or lower transaction activities.

In [ ]:
# MAP USER PLOT 1
def map_user_plot_1(df,year):
    # Filtering the DataFrame by Years
    Map_user_year= df[df["Years"]==year]
    # Resetting the Index:
    Map_user_year.reset_index(drop=True,inplace= True)

    # summarizing the total RegisteredUsers,AppOpens for each States in the Map_user_year DataFrame.
    Map_user_year_group = Map_user_year.groupby("States")[["RegisteredUsers","AppOpens"]].sum()
    # resets the index of the Map_user_year_group
    Map_user_year_group.reset_index(inplace=True)
    
    # creating  line plot for State by RegisteredUsers,AppOpens
    fig_line_1 = px.line(Map_user_year_group, x="States", y= ["RegisteredUsers","AppOpens"],
                        title= f"{year} STATES REGISTERED USERS APPOPENS",width = 1000, height=800, markers=True)
    # Displaying the line chart_1
    fig_line_1.show()

    return Map_user_year

In [ ]:
# MAP USER PLOT 2
def map_user_plot_2(df,quarter):
    # Filtering the DataFrame by Quarter
    Map_user_year_Q= df[df["Quarter"]==quarter]
    # Resetting the Index:
    Map_user_year_Q.reset_index(drop=True,inplace= True)

    # summarizing the total RegisteredUsers,AppOpens for each States in the Map_user_year DataFrame.
    Map_user_year_Q_group = Map_user_year_Q.groupby("States")[["RegisteredUsers","AppOpens"]].sum()
    # resets the index of the Map_user_year_Q
    Map_user_year_Q_group.reset_index(inplace=True)
   
    # creating  line plot for States by RegisteredUsers,AppOpens
    fig_line_1 = px.line(Map_user_year_Q_group, x="States", y= ["RegisteredUsers","AppOpens"],
                        title= f"{df['Years'].min()}-year {quarter} QUARTER, REGISTERED USERS, APPOPENS",width = 1000, height=800, markers=True,
                        color_discrete_sequence=px.colors.sequential.Rainbow_r)
    # Displaying the line chart_1
    fig_line_1.show()

    return Map_user_year_Q

In [ ]:
# MAP USER PLOT 3
def map_user_plot_3(df,states):
    # Filtering the DataFrame by States
    map_user_year_quarter_state= df[df["States"]==states]
    # Resetting the Index:
    map_user_year_quarter_state.reset_index(drop=True, inplace= True)
    
    # creating  bar plot for Districts by RegisteredUsers,AppOpens
    fig_map_user_bar_1= px.bar(map_user_year_quarter_state, x= "RegisteredUsers", y= "Districts", orientation="h",
                            title="REGISTERED USERS", height= 800, color_discrete_sequence= px.colors.sequential.OrRd_r)
    # Displaying the bar chart_1
    fig_map_user_bar_1.show()
    
    # creating  bar plot for Districts by AppOpens
    fig_map_user_bar_2= px.bar(map_user_year_quarter_state, x= "AppOpens", y= "Districts", orientation="h",
                            title="APPOPENS", height= 800, color_discrete_sequence= px.colors.sequential.Peach_r)
    # Displaying the bar chart_2
    fig_map_user_bar_2.show()

In [ ]:
# TOP_INSURANCE_PLOT_!
def Top_insurance_plot_1(df,state):
    # Filtering the DataFrame by States
    Top_insueance_year= df[df["States"]==state]
    # Resetting the Index:
    Top_insueance_year.reset_index(drop=True,inplace= True)
    
    # creating  bar plot for Transaction_amount by Quarter
    fig_Top_insurance_bar_1= px.bar(Top_insueance_year, x= "Quarter", y= "Transaction_amount",hover_data=["Pincodes"],
                            title="TRANSACTION AMOUNT", height= 800, color_discrete_sequence= px.colors.sequential.OrRd_r)
    # Displaying the bar chart_1
    fig_Top_insurance_bar_1.show()
    
    # creating  bar plot for Transaction_count by Quarter
    fig_Top_insurance_bar_2= px.bar(Top_insueance_year, x= "Quarter", y= "Transaction_count",hover_data=["Pincodes"],
                            title="TRANSACTION COUNT", height= 800, color_discrete_sequence= px.colors.sequential.Blackbody_r)
    # Displaying the bar chart_2
    fig_Top_insurance_bar_2.show()

In [ ]:
#TOP USER PLOT !:
def Top_user_plot_1(df,year):
    # Filtering the DataFrame by States
    Top_user_year= df[df["Years"]==year]
    # Resetting the Index:
    Top_user_year.reset_index(drop=True, inplace= True)

    # summarizing the total RegisteredUsers,AppOpens for each States with Quarter in the Top_user_year_group.
    Top_user_year_group = pd.DataFrame(Top_user_year.groupby(["States","Quarter"])["RegisteredUsers"].sum())
    # resets the index of the Top_user_year
    Top_user_year_group.reset_index(inplace=True)
    
    # creating  bar plot for states,RegisteredUsers by Quarter
    fig_top_plot_1 = px.bar(Top_user_year_group,x="States",y="RegisteredUsers",color="Quarter",width=1000, height=800,
                            color_discrete_sequence= px.colors.sequential.Greens_r,hover_name="States",
                            title=f"{year} REGISTERED USERS")
    # Displaying the bar chart_1
    fig_top_plot_1.show()

    return  Top_user_year

In [ ]:
# Top user_plot_2
def Top_user_plot_2(df,state):
    # Filtering the DataFrame by States
    Top_user_year_state= df[df["States"]==state]
    # Resetting the Index:
    Top_user_year_state.reset_index(drop=True, inplace= True)

    # creating  bar plot for PINCODES,QUARTER,RegisteredUsers by Quarter
    fig_top_plot_2 = px.bar(Top_user_year_state,x="Quarter",y="RegisteredUsers",title="REGISTERED USERS,PINCODES,QUARTER",
                        width= 1000, height= 800, color="RegisteredUsers",hover_data = ["Pincodes"],color_continuous_scale=px.colors.sequential.Purp_r)
    # Displaying the bar chart_1
    fig_top_plot_2.show()

In [ ]:
map_user_plot_3(Map_user,"Uttar Pradesh")

## AGGREGATED INSURANCE

In [ ]:
tran_amount_count_year = Transaction_amount_count_Y(Aggregated_insurance,2020)

In [ ]:
Transaction_amount_count_Y_Q

In [ ]:
Transaction_amount_count_Y_Q(tran_amount_count_year,2)

## AGGREGATED TRANSACTION

In [ ]:
Aggre_tran_amount_count_year = Transaction_amount_count_Y(Aggregated_transacation,2023)

In [ ]:
Aggre_tran_Transaction_type(Aggre_tran_amount_count_year,'Jharkhand')

In [ ]:
Aggre_tran_amount_count_year_Q = Transaction_amount_count_Y_Q(Aggre_tran_amount_count_year,3)

In [ ]:
Aggre_tran_Transaction_type(Aggre_tran_amount_count_year_Q,'Jharkhand')

In [ ]:
Aggre_tran_amount_count_year

In [ ]:
Aggre_tran_Transaction_type(Aggre_tran_amount_count_year,'Jharkhand')

## AGGREGATED USER

In [ ]:
Aggregated_user_Y = Aggregated_user_plot_1(Aggregated_user,2020)

In [ ]:
Aggregated_user_Y_Q = Aggregated_user_plot_2(Aggregated_user_Y,3)

In [ ]:
Aggregated_user_plot_3(Aggregated_user_Y_Q,"Andaman & Nicobar")

In [ ]:
Aggregated_user_Y_Q

In [ ]:

Aggregated_user_Y

### MAP INSURANCE

In [ ]:
Map_insur_tran_amount_count_year = Transaction_amount_count_Y(Map_insurance,2023)

In [ ]:
Map_insurance_District(Map_insur_tran_amount_count_year,'West Bengal')

In [ ]:
Map_insur_tran_amount_count_year_Q = Transaction_amount_count_Y_Q(Map_insur_tran_amount_count_year,3)

In [ ]:
Map_insurance_District(Map_insur_tran_amount_count_year_Q,'Jharkhand')

### Map_transaction

In [ ]:
Map_transaction_tran_amount_count_year = Transaction_amount_count_Y(Map_transaction,2023)

In [ ]:
Map_insurance_District(Map_transaction_tran_amount_count_year,'West Bengal')

In [ ]:
Map_transaction_tran_amount_count_year_Q = Transaction_amount_count_Y_Q(Map_transaction_tran_amount_count_year,3)

In [ ]:
Map_insurance_District(Map_transaction_tran_amount_count_year_Q,'Jharkhand')

### Map User

In [ ]:
Map_user_Year = map_user_plot_1(Map_user,2020)

In [ ]:
Map_user_year_quarter = map_user_plot_2(Map_user_Year,2)

In [ ]:
Map_user_year_quarter

In [ ]:
map_user_plot_3(Map_user,"Nagaland")

### TOP INSURANCE

In [ ]:
Top_Insurance_tran_amount_count_year = Transaction_amount_count_Y(Top_Insurance,2023)

In [ ]:
Top_insurance_plot_1(Top_Insurance_tran_amount_count_year,"West Bengal")

In [ ]:
Top_Insurance_tran_amount_count_year_Q = Transaction_amount_count_Y_Q(Top_Insurance_tran_amount_count_year,3)

### TOP TRANSACTION

In [ ]:
Top_Transaction_tran_amount_count_year = Transaction_amount_count_Y(Top_Insurance_tran_amount_count_year,2023)

In [ ]:
Top_insurance_plot_1(Top_Transaction_tran_amount_count_year,"West Bengal")

In [ ]:
Top_Transaction_tran_amount_count_year_Q = Transaction_amount_count_Y_Q(Top_Transaction_tran_amount_count_year,3)

### TOP USER

In [ ]:
Top_user_year = Top_user_plot_1(Top_user,2020)

In [ ]:
Top_user_plot_2(Top_user_year,"West Bengal")

In [ ]:
Top_user_year